html, body, #map {
    background-color: #C6AA93;
}

#map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
    /* width: 50%; */
    padding: 25;
    margin: 50;
    border-radius: 30px;
}
#search {
    display: block;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 75px;
    bottom: 50px;
}